.nextflow*
work/
data/
results/
.DS_Store
tests/
testing/
testing*
*.pyc

pipeline_dag*.svg*
execution_trace*.txt*
execution_report*.html*
execution_timeline*.html*
settings.json

# Weirdly made s3 path
s3:/
