/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/sicilian -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  // Limit resources so that this can run on GitHub Actions
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h

  // Input data
  // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
  // TODO nf-core: Give any required params for the test so that command line flags are not needed
  single_end = false
  input = false

  input_paths = [
    ['Testdata', 
      ['https://github.com/czbiohub/test-datasets/olgabot/sicilian/testdata/sample_1.fastq', 
       'https://github.com/czbiohub/test-datasets/olgabot/sicilian/testdata/sample_2.fastq']],
  ]
  // Ignore `--input` as otherwise the parameter validation will throw an error
  schema_ignore_params = 'genomes,input_paths,input'

  // TODO ask Katilin to make a mini dataset with
  star_index = 's3://salzman-lab/hg38_STAR_ref/'
  gtf = 's3://salzman-lab/GRCh38_latest_genomic.gtf'
  domain = 's3://salzman-lab/hg38_STAR_ref/domain_file.txt'
  stranded = true
  tenx = true
  annotator = 's3://salzman-lab/hg38_STAR_ref/hg38_refseq.pkl'
  exon_bounds = 's3://salzman-lab/hg38_STAR_ref/hg38_refseq_exon_bounds.pkl'
  splicesites = 's3://salzman-lab/hg38_STAR_ref/hg38_refseq_splices.pkl'
  // Ignore `--input` as otherwise the parameter validation will throw an error
  schema_ignore_params = 'genomes,input_paths,input'
}
