/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/sicilian -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  // Limit resources so that this can run on GitHub Actions
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h

  // Input data
  // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
  // TODO nf-core: Give any required params for the test so that command line flags are not needed
  single_end = true
  input = false
  stranded = true
  tenx = true
  skip_umitools = true
  input_paths = [
    // It's weird that it's only one read and it says R2, but for 10x/droplet-based single cell, R1 is the 
    // barcode read and R2 is the "interesting" read that will actually align to the genome
    // After UMI tools, only R2 is left over
    ['MACA_24m_M_BLADDER_58__subsample-10-percent', [
      // 'https://github.com/czbiohub/test-datasets/raw/olgabot/sicilian/testdata/MACA_24m_M_BLADDER_58_mm10_chr19_R1.fastq.gz', 
      'https://github.com/czbiohub/test-datasets/raw/olgabot/sicilian/testdata/MACA_24m_M_BLADDER_58__subsample-1-percent_mm10_chr19_R2__skip_umitools.fastq.gz'
      ]],
    ['MACA_24m_M_BLADDER_59__subsample-10-percent', [
        // 'https://github.com/czbiohub/test-datasets/raw/olgabot/sicilian/testdata/MACA_24m_M_BLADDER_59_mm10_chr19_R1.fastq.gz',
        'https://github.com/czbiohub/test-datasets/raw/olgabot/sicilian/testdata/MACA_24m_M_BLADDER_59__subsample-1-percent_mm10_chr19_R2__skip_umitools.fastq.gz'
      ]],
  ]
  fasta = 'https://github.com/czbiohub/test-datasets/raw/olgabot/sicilian/reference/mm10_chrom19.fa'
  gtf = 'https://github.com/czbiohub/test-datasets/raw/olgabot/sicilian/reference/GCF_000001635.26_GRCm38.p6_genomic.chr19.gtf.gz'

  // Ignore `--input` as otherwise the parameter validation will throw an error
  schema_ignore_params = 'genomes,input_paths,input,modules,sicilian_glm_output_paths,sicilian_glm_output,sicilian_class_input_paths,sicilian_class_input,star_chimeric_junction_paths,star_reads_per_gene_paths,star_sj_out_tab_paths,star_bam_paths,star_chimeric_junction,reads_per_gene,star_sj_out_tab,star_bam'

  // TODO ask Katilin to make a mini dataset with
  domain = 'https://github.com/czbiohub/test-datasets/raw/olgabot/sicilian/reference/sicilian/domain_file.txt'

  // annotator = 's3://salzman-lab/hg38_STAR_ref/hg38_refseq.pkl'
  // exon_bounds = 's3://salzman-lab/hg38_STAR_ref/hg38_refseq_exon_bounds.pkl'
  // splicesites = 's3://salzman-lab/hg38_STAR_ref/hg38_refseq_splices.pkl'
  // Ignore `--input` as otherwise the parameter validation will throw an error
}
